.carousel{
    display: flex;
    background-color: $glass-overlay ;
    width: 200%;
    padding-top: 3lvh;
    padding-bottom: 3lvh;
    .card{
        width: 1000px;
        background-color: $beige;
        margin: 1lvh;
        padding: 2lvh;
        border: $card-border;
        border-radius: 15px;
        text-align: center;
        .card-img{
            width: 100%;
            border-radius: 15px;
            border: $border;
        }
        h2{
            margin: 0 auto;
        }
    }
}