*{
    text-decoration: none;
}
.nav-menu{
    display: none;
}
.nav-button{
    display:none;
    @media #{$mobile}{
        display:flex;
    }
}
.desktop_navigation{
    text-shadow: 2px 2px 4px #000000;
    background-image: linear-gradient(to right, $rust, $burgundy);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    position: sticky;
    top:0;
    height: 110px;

    .logo{
        justify-self: left;
        margin: 15px;
        height:75px;
        width:75px;
        overflow: hidden;
        border-radius: 50px;
        border:2px solid $beige;
        .couple_icon{
            height:125px;
        }
    }
    .nav-links{ 
        p{
        text-decoration: none;
        font-size: 50px;
        font-family: $fancy;
        margin: 0;
        color:white;
        }
        p:hover{
            color:$forest;
        }
        .active{
            p{
                color: $beige; 
            }  
        }
        .nav-auth{
            display: flex;
            }
        .menu-nav_link{
            margin-right: 1.5lvw;
        }
        @media #{$mobile}{
            display:none;
        }   
    } 
    @media #{$mobile}{
        z-index: 2;
        height:85px;
        .logo{
            display: none;
        }
        .nav-button{
            color:white;
            background-color: #ffffff00;
            font-size:50px;
            border: 0px;
            position: absolute;
            top: 20px;
            left:10px;
        }
        .dropdown, .dropdownClose {
            background-image: linear-gradient(to right, $rust, $burgundy);
            width: 100%;
            position: absolute;
            top: 85px;
            left: 0rem;
            animation: slide2 400ms;
            animation-fill-mode: forwards;
            
            .nav-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    border-bottom:1px solid $beige;
                    padding-top: 20px;
                    width:100vw;
                    height: 60px;
                    margin: 0 auto;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                }
                .active{
                    p{
                        color: $beige; 
                    }
                }
            }
            &Close {
                animation: slide 400ms;
                animation-fill-mode: forwards;
            }
                
        }
    }
  
}
@keyframes slide {
    from {
		
        transform: translateY(-18rem) scaleY(0);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes slide2 {
	from {
		transform: translateY(0);
	}
	to {
		
        transform: translateY(-18rem) scaleY(0);
	}
}