*{
    text-decoration: none;
}
.nav-menu{
    display: none;
}
.desktop_navigation{
    text-shadow: 2px 2px 4px #000000;
    background-image: linear-gradient(to right, $rust, $burgundy);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    position: sticky;
    top:0;
    height: 110px;

    .logo{
        justify-self: left;
        margin: 15px;
        height:75px;
        width:75px;
        overflow: hidden;
        border-radius: 50px;
        border:2px solid $beige;
        .couple_icon{
            height:125px;
        }
    }
    .nav-links{ 
        p{
        text-decoration: none;
        font-size: 50px;
        font-family: $fancy;
        margin: 0;
        color:white;
        }
        p:hover{
            color:$forest;
        }
        .active{
            p{
                color: $beige; 
            }  
        }
        .nav-auth{
            display: flex;
            }
    .menu-nav_link{
        margin-right: 1.5lvw;
    }
    } 
}