    $glass-overlay: rgba(68, 68, 68, 0.404);
    $forest: #034727;
    $burgundy: #5a0212;
    $rust:#a54606;
    $orange:#F87217;
    $beige:#d1b38e;
    $border: 1px solid $burgundy;
    $card-border: 1px solid $rust;
    $fancy: PerfectoCalligraphy;
    