* {
  text-decoration: none;
}

.nav-menu {
  display: none;
}

.burger {
  display: none;
}
@media (max-width: 500px) {
  .burger {
    display: flex;
  }
}

.desktop_navigation {
  text-shadow: 2px 2px 4px #000000;
  background-image: linear-gradient(to right, #a54606, #5a0212);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 110px;
}
.desktop_navigation .logo {
  justify-self: left;
  margin: 15px;
  height: 75px;
  width: 75px;
  overflow: hidden;
  border-radius: 50px;
  border: 2px solid #d1b38e;
}
.desktop_navigation .logo .couple_icon {
  height: 125px;
}
.desktop_navigation .nav-links p {
  text-decoration: none;
  font-size: 50px;
  font-family: PerfectoCalligraphy;
  margin: 0;
  color: white;
}
.desktop_navigation .nav-links p:hover {
  color: #034727;
}
.desktop_navigation .nav-links .active p {
  color: #d1b38e;
}
.desktop_navigation .nav-links .nav-auth {
  display: flex;
}
.desktop_navigation .nav-links .menu-nav_link {
  margin-right: 1.5lvw;
}
@media (max-width: 500px) {
  .desktop_navigation .nav-links {
    display: none;
  }
}
@media (max-width: 500px) {
  .desktop_navigation {
    z-index: 2;
    height: 85px;
  }
  .desktop_navigation .logo {
    display: none;
  }
  .desktop_navigation .nav-button {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    font-size: 50px;
    border: 0px;
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .desktop_navigation .dropdown, .desktop_navigation .dropdownClose {
    background-image: linear-gradient(to right, #a54606, #5a0212);
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0rem;
    animation: slide2 500ms;
    animation-fill-mode: forwards;
  }
  .desktop_navigation .dropdown .nav-menu, .desktop_navigation .dropdownClose .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktop_navigation .dropdown .nav-menu p, .desktop_navigation .dropdownClose .nav-menu p {
    border-bottom: 1px solid #d1b38e;
    padding-top: 20px;
    width: 100vw;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #d1b38e;
  }
  .desktop_navigation .dropdownClose, .desktop_navigation .dropdownCloseClose {
    animation: slide 500ms;
    animation-fill-mode: forwards;
  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-18rem) scaleY(0);
  }
}
@keyframes slide2 {
  from {
    transform: translateY(-18rem) scaleY(0);
  }
  to {
    transform: translateY(0);
  }
}
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.404);
  width: 100%;
  padding-top: 3lvh;
  padding-bottom: 3lvh;
}
.carousel .heading {
  text-align: center;
  font-family: PerfectoCalligraphy;
}
.carousel .heading h3 {
  font-size: 60px;
  margin: 0 auto;
}
.carousel .heading h5 {
  font-size: 40px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .carousel .heading h3 {
    font-size: 45px;
    margin: 0 auto;
  }
  .carousel .heading h5 {
    font-size: 30px;
    margin: 0 auto;
  }
}
.carousel .card-area {
  display: flex;
  justify-content: center;
  width: 100%;
}
.carousel .card-area .leftarrow {
  display: none;
}
.carousel .card-area .rightarrow {
  display: none;
}
@media (max-width: 500px) {
  .carousel .card-area {
    display: flex;
    overflow: hidden;
  }
  .carousel .card-area .leftarrow {
    display: flex;
    z-index: 1;
    font-size: 1.5rem;
    color: #034727 #F87217;
    position: relative;
    top: 325px;
    left: 10px;
    background-color: #d1b38e;
    border: 3px solid #5a0212;
    border-radius: 15px;
    cursor: pointer;
  }
  .carousel .card-area .rightarrow {
    display: flex;
    z-index: 1;
    font-size: 1.5rem;
    position: relative;
    top: 325px;
    right: 10px;
    color: #034727 #F87217;
    background-color: #d1b38e;
    border: 3px solid #5a0212;
    border-radius: 15px;
  }
}
.carousel .card {
  width: 23%;
  height: 900px;
  background-color: #d1b38e;
  margin: 50px;
  padding: 30px 30px;
  border: 1px solid #a54606;
  border-radius: 15px;
  text-align: center;
}
.carousel .card .card-img {
  width: 580px;
  height: 448px;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #5a0212;
}
.carousel .card .card-title {
  font-size: 45px;
}
.carousel .card div .middle ul {
  width: 90%;
}
.carousel .card div .middle ul li {
  font-size: 25px;
  margin: 30px 0px;
  list-style-type: none;
}
.carousel .card h2 {
  margin: 0 auto;
}
.carousel .card .tag {
  font-family: PerfectoCalligraphy;
}
@media (max-width: 500px) {
  .carousel .card {
    width: 360px;
    margin: 20px auto;
    height: 650px;
    display: none;
  }
  .carousel .card.viewing {
    display: flex;
    width: 390px;
  }
  .carousel .card div .middle ul {
    margin: 0px 0px 0px -40px;
    width: 100%;
  }
  .carousel .card div .middle ul li {
    font-size: 20px;
    margin: 8px;
    list-style-type: none;
  }
  .carousel .card .li {
    font-size: 21px;
    margin: 8px auto;
  }
  .carousel .card .card-img {
    width: 100%;
    height: 255px;
  }
  .carousel .card .card-title {
    font-size: 30px;
    margin: -10px auto 10px auto;
  }
  .carousel .card .fixer {
    width: 100%;
    height: 100%;
  }
}

body {
  margin: 0 auto;
  background-image: url(../../../pictures/pexels-jplenio-1114896.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}
@font-face {
  font-family: PerfectoCalligraphy;
  src: url("../fonts/PerfectoCalligraphy.ttf");
}
body h1 {
  font-size: 70px;
  text-decoration: underline;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #5a0212;
  color: #d1b38e;
}
body h2 {
  font-size: 55px;
  text-decoration: underline;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #a54606;
  color: #F87217;
}
body p {
  font-size: 25px;
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 950px;
  margin: 0px;
  background-image: url("../../../pictures/New_Banner.JPG");
  background-size: 100%;
  font-family: PerfectoCalligraphy;
  border-bottom: 30px solid #5a0212;
  -o-border-image: linear-gradient(to right, #a54606, #5a0212) 1;
     border-image: linear-gradient(to right, #a54606, #5a0212) 1;
}
.banner .banner_window {
  background-color: rgba(39, 39, 39, 0.404);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .banner_window h1, .banner .banner_window h2 {
  margin: 0;
  text-decoration: none;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: white;
  color: white;
}
.banner .banner_window h1 {
  font-size: 110px;
}
.banner .banner_window h2 {
  font-size: 80px;
}
.banner .banner_window h3 {
  font-size: 40px;
}
.banner .banner_window .timer {
  display: flex;
  justify-content: center;
}
.banner .banner_window .timer .times {
  width: 65px;
  margin: 30px 20px;
  padding: 25px 20px;
  font-size: 30px;
  font-weight: bold;
}
.banner .banner_window .rsvp {
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 35px;
  background-color: white;
  text-decoration: none;
  color: #5a0212;
}
@media (max-width: 500px) {
  .banner {
    height: 400px;
    background-repeat: no-repeat;
    background-size: 500px 500px;
  }
  .banner .banner_window h1 {
    font-size: 50px;
  }
  .banner .banner_window h2 {
    font-size: 30px;
  }
  .banner .banner_window h3 {
    font-size: 22px;
  }
  .banner .banner_window .timer .times {
    font-size: 20px;
    margin: 12px 8px;
    padding: 10px 8px;
    width: 40px;
  }
  .banner .banner_window .rsvp {
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 35px;
  }
}

.header {
  width: 100%;
  background-image: url(../../../pictures/lotus.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header .menu-nav {
  display: flex;
  width: 100%;
  align-items: top;
  background-color: rgba(140, 0, 26, 0.8980392157);
  border-top: 1px solid #5a0212;
  border-bottom: 1px solid #5a0212;
}
.header .menu-nav .menu-nav_item {
  text-decoration: none;
  display: flex;
  width: 18%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid #dfaba3;
}
.header .menu-nav .menu-nav_item .menu-nav_link {
  margin: 0;
  font-size: 2vw;
  text-decoration: none;
  color: #F87217;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}
.header .menu-nav #menu-nav-end {
  border-right: 0px;
}

.footer {
  background-color: #5a0212;
  width: 100%;
  height: 140px;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}
.footer h3 {
  color: white;
  margin: 10px 0;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #d1b38e;
  color: #034727;
  text-decoration: underline;
  font-family: PerfectoCalligraphy;
}
.footer .footer_emblem {
  overflow: hidden;
  margin-top: 10px;
}
.footer .footer_emblem .img2 {
  margin: -50px 30px -70px 10px;
  height: 200px;
}
@media (max-width: 500px) {
  .footer .footer_emblem {
    display: none;
  }
}
.footer .footer_sec_about {
  width: 28%;
  display: flex;
}
.footer .footer_sec_about .blurb {
  width: 83%;
}
.footer .footer_sec_about .blurb p {
  margin: 0px 0 0 0;
}
.footer .footer_sec_contact {
  width: 20%;
  display: inherit;
  flex-direction: column;
}
.footer .footer_sec_info {
  width: 20%;
  display: inherit;
  flex-direction: column;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #F87217;
}
@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    font-size: 20px;
  }
  .footer .footer_sec_about {
    width: 95%;
    flex-direction: column;
  }
  .footer .footer_sec_about p {
    font-size: 20px;
  }
  .footer .footer_sec_contact {
    width: 95%;
  }
  .footer .footer_sec_info {
    width: 95%;
  }
}

.footer_extension {
  display: flex;
  background-color: #5a0212;
  height: 98px;
  justify-content: center;
  overflow: hidden;
}
.footer_extension p {
  font-weight: bold;
  font-size: 40px;
  font-family: PerfectoCalligraphy;
}
@media (max-width: 500px) {
  .footer_extension p {
    font-size: 27px;
  }
}

.rsvp-form {
  text-align: center;
  height: 100%;
}
.rsvp-form .form {
  width: 1000px;
  height: 1502px;
  border: 0;
  background-color: rgba(39, 39, 39, 0.404);
}
@media (max-width: 500px) {
  .rsvp-form .form {
    width: 410px;
    height: 1802px;
  }
}

.registry-notice {
  height: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.404);
}
.registry-notice .registry-info {
  border: 3px solid #F87217;
  border-radius: 40px;
  text-align: center;
  background-color: #d1b38e;
  padding: 40px 20px;
  height: 500px;
  width: 800px;
}
.registry-notice .registry-info h1 {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #5a0212;
  text-decoration: none;
  font-family: PerfectoCalligraphy;
  color: #5a0212;
}
.registry-notice .registry-info p {
  color: #5a0212;
  font-size: 32px;
}
.registry-notice .registry-info .gift_button {
  border-radius: 50px;
  margin: 0 auto;
  width: 300px;
  text-shadow: 2px 2px 4px #000000;
  font-size: 35px;
  background-color: #034727;
  padding: 20px 15px;
}
.registry-notice .registry-info .gift_button a {
  color: white;
}
@media (max-width: 500px) {
  .registry-notice h1 {
    margin: 0 auto;
  }
  .registry-notice .registry-info {
    width: 80%;
    height: 620px;
  }
  .registry-notice .registry-info .gift_button {
    width: 200px;
    padding: 7px 7px 10px 7px;
  }
  .registry-notice .registry-info .gift_button a {
    font-size: 22px;
  }
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.story img {
  height: 500px;
  width: 500px;
}
.story .tale {
  background-color: white;
  width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.story .tale .story_blurb {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.story .tale .story_blurb .corner {
  display: flex;
}
.story .tale .story_blurb .corner img {
  width: 46%;
  margin: 10px 10px 0px 10px;
}
.story .tale .story_blurb .corner p {
  margin: 10px 10px 0px 10px;
}
.story .tale .story_blurb .introduction {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.story .tale .story_blurb .introduction img {
  width: 46%;
}
.story .tale .story_blurb .graduation_day {
  text-align: left;
  width: 65%;
  margin: 0 auto;
}
.story .tale .story_blurb .growing_relationship {
  text-align: left;
  width: 65%;
  margin: 10px auto;
}
.story .tale .story_blurb .growing_relationship .trips {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 98%;
}
.story .tale .story_blurb .growing_relationship .trips img {
  width: 32%;
}
.story .tale .story_blurb .proposed {
  width: 60%;
}
.story .tale h1 {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #5a0212;
  text-decoration: none;
  font-family: PerfectoCalligraphy;
  color: #5a0212;
  background-color: #a54606;
  padding: 20px 40px;
  border-radius: 50%;
}
.story .tale p {
  color: black;
  width: 48%;
  text-align: justify;
  font-size: 25px;
}
.story .tale h2 {
  color: #5a0212;
  font-family: PerfectoCalligraphy;
  width: 90%;
  margin: 10px 0;
  text-align: left;
}
.story .tale .longtext {
  width: 97%;
  margin: 0px 10px;
}
@media (max-width: 500px) {
  .story .tale {
    width: 95%;
  }
  .story .tale .story_blurb {
    width: 100%;
  }
  .story .tale .story_blurb .corner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .story .tale .story_blurb .corner img {
    width: 97%;
  }
  .story .tale .story_blurb .corner p {
    margin: 0;
  }
  .story .tale .story_blurb .introduction, .story .tale .story_blurb .graduation_day, .story .tale .story_blurb .growing_relationship, .story .tale .story_blurb .proposed {
    width: 94%;
  }
  .story .tale .story_blurb .introduction .trips, .story .tale .story_blurb .graduation_day .trips, .story .tale .story_blurb .growing_relationship .trips, .story .tale .story_blurb .proposed .trips {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .story .tale .story_blurb .introduction .trips img, .story .tale .story_blurb .graduation_day .trips img, .story .tale .story_blurb .growing_relationship .trips img, .story .tale .story_blurb .proposed .trips img {
    width: 100%;
  }
  .story .tale p {
    width: 100%;
  }
  .story .tale h2 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }
}

.wedding_schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.404);
}
.wedding_schedule .wedding_text {
  background-color: #d1b38e;
  width: 50%;
  display: inherit;
  flex-direction: column;
  align-items: center;
}
.wedding_schedule .wedding_text h1 {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  color: #5a0212;
  font-family: PerfectoCalligraphy;
}
.wedding_schedule .wedding_text .wedding_details {
  width: 70%;
  font-size: 35px;
  margin: 0 auto;
}
.wedding_schedule .wedding_text .wedding_details li {
  margin: 0px 0px 20px 0px;
}
@media (max-width: 500px) {
  .wedding_schedule .wedding_text {
    width: 90%;
    font-size: 20px;
  }
  .wedding_schedule .wedding_text h1 {
    font-size: 55px;
  }
  .wedding_schedule .wedding_text .wedding_details {
    width: 90%;
    font-size: 24px;
    margin: 0 auto;
  }
  .wedding_schedule .wedding_text .wedding_details li {
    margin: 0px 0px 20px 0px;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.404);
}
.faq .asked {
  background-color: #d1b38e;
  width: 60%;
  display: inherit;
  flex-direction: column;
  align-items: center;
}
.faq .asked h1 {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  color: #5a0212;
  font-family: PerfectoCalligraphy;
}
.faq .asked h3 {
  text-decoration: underline;
}
.faq .asked .questions {
  width: 80%;
  font-size: 35px;
  margin: 0 auto;
}
.faq .asked .questions li {
  margin: 0px 0px 40px 0px;
}
.faq .asked .questions li a {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .faq .asked {
    width: 90%;
  }
  .faq .asked h1 {
    font-size: 50px;
  }
  .faq .asked h3 {
    margin-bottom: 20px;
  }
  .faq .asked .questions {
    text-align: center;
  }
  .faq .asked .questions ul {
    width: 100%;
    margin: 10px -50px;
    list-style-type: none;
  }
  .faq .asked .questions ul li {
    width: 95%;
    font-size: 22px;
    text-align: left;
    margin-top: 10px;
  }
}

.travel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.404);
}
.travel h1, .travel h2 {
  font-family: PerfectoCalligraphy;
}
.travel .activities {
  background-color: #d1b38e;
  width: 60%;
  display: inherit;
  flex-direction: column;
  align-items: center;
}
.travel .activities .blocks {
  font-size: 25px;
  width: 47%;
}
.travel .activities .blocks2 {
  font-size: 25px;
  width: 47%;
}
.travel .activities .blocks3 {
  font-size: 25px;
  width: 36%;
}
.travel .activities .advice {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.travel .activities .advice h2 {
  text-align: center;
  margin-bottom: 0;
}
.travel .activities .advice ul li {
  margin: 20px 0px;
}
.travel .activities .fun_times {
  display: flex;
  width: 90%;
  font-size: 25px;
  justify-content: space-between;
}
.travel .activities .fun_times h3 {
  margin-bottom: 10px;
}
.travel .activities .fun_times .shopping {
  margin-bottom: 115px;
}
@media (max-width: 500px) {
  .travel .activities {
    width: 90%;
  }
  .travel .activities h1, .travel .activities h2 {
    margin: 10px auto;
    text-align: center;
  }
  .travel .activities .advice, .travel .activities .fun_times {
    flex-direction: column;
    margin: 0 auto;
  }
  .travel .activities .advice .blocks, .travel .activities .advice .blocks2, .travel .activities .advice .blocks3, .travel .activities .fun_times .blocks, .travel .activities .fun_times .blocks2, .travel .activities .fun_times .blocks3 {
    width: 100%;
    margin: 0 auto;
  }
  .travel .activities .advice .blocks h2, .travel .activities .advice .blocks2 h2, .travel .activities .advice .blocks3 h2, .travel .activities .fun_times .blocks h2, .travel .activities .fun_times .blocks2 h2, .travel .activities .fun_times .blocks3 h2 {
    margin-top: 10px;
  }
  .travel .activities .advice .blocks li, .travel .activities .advice .blocks2 li, .travel .activities .advice .blocks3 li, .travel .activities .fun_times .blocks li, .travel .activities .fun_times .blocks2 li, .travel .activities .fun_times .blocks3 li {
    font-size: 23px;
  }
  .travel .activities .advice .shopping, .travel .activities .fun_times .shopping {
    margin-bottom: 0px;
  }
}

.App {
  text-align: center;
}/*# sourceMappingURL=index.css.map */