.carousel {
  display: flex;
  background-color: rgba(68, 68, 68, 0.404);
  width: 200%;
  padding-top: 3lvh;
  padding-bottom: 3lvh;
}
.carousel .card {
  width: 1000px;
  background-color: #d1b38e;
  margin: 1lvh;
  padding: 2lvh;
  border: 1px solid #a54606;
  border-radius: 15px;
  text-align: center;
}
.carousel .card .card-img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #5a0212;
}
.carousel .card h2 {
  margin: 0 auto;
}

body {
  margin: 0 auto;
  background-image: url(../../../pictures/pexels-jplenio-1114896.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  overflow-x: hidden;
}
@font-face {
  font-family: PerfectoCalligraphy;
  src: url("../fonts/PerfectoCalligraphy.ttf");
}
body h1 {
  font-size: 70px;
  text-decoration: underline;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #5a0212;
  color: #d1b38e;
}
body h2 {
  font-size: 55px;
  text-decoration: underline;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #a54606;
  color: #F87217;
}
body p {
  font-size: 25px;
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 70lvh;
  margin: 0;
  background-color: rgba(68, 68, 68, 0.404);
}

.header {
  width: 100%;
  background-image: url(../../../pictures/lotus.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header .menu-nav {
  display: flex;
  width: 100%;
  align-items: top;
  background-color: rgba(140, 0, 26, 0.8980392157);
  border-top: 1px solid #5a0212;
  border-bottom: 1px solid #5a0212;
}
.header .menu-nav .menu-nav_item {
  text-decoration: none;
  display: flex;
  width: 18%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid #dfaba3;
}
.header .menu-nav .menu-nav_item .menu-nav_link {
  margin: 0;
  font-size: 2vw;
  text-decoration: none;
  color: #F87217;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}
.header .menu-nav #menu-nav-end {
  border-right: 0px;
}

.footer {
  background-color: #5a0212;
  width: 100%;
  height: 140px;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}
.footer h3 {
  color: white;
  margin: 0;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #d1b38e;
  color: #034727;
  text-decoration: underline;
  font-family: PerfectoCalligraphy;
}
.footer .footer_emblem {
  overflow: hidden;
  margin-top: 10px;
}
.footer .footer_emblem .img2 {
  margin: -50px 30px -70px 10px;
  height: 200px;
}
.footer .footer_sec_about {
  width: 28%;
  display: flex;
}
.footer .footer_sec_about .blurb {
  width: 83%;
}
.footer .footer_sec_about .blurb p {
  margin: 0px 0 0 0;
}
.footer .footer_sec_contact {
  width: 20%;
  display: inherit;
  flex-direction: column;
}
.footer .footer_sec_info {
  width: 20%;
  display: inherit;
  flex-direction: column;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #F87217;
}

.footer_extension {
  display: flex;
  background-color: #5a0212;
  height: 98px;
  justify-content: center;
  overflow: hidden;
}
.footer_extension p {
  font-weight: bold;
  font-size: 40px;
  font-family: PerfectoCalligraphy;
}

.nav-menu {
  display: none;
}

.desktop_navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #a54606, #5a0212);
  height: 100px;
}
.desktop_navigation .logo {
  height: 75px;
  width: 75px;
  overflow: hidden;
  border-radius: 50px;
  border: 2px solid #d1b38e;
}
.desktop_navigation .logo .couple_icon {
  height: 125px;
}
.desktop_navigation .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: PerfectoCalligraphy;
}
.desktop_navigation .nav-links a:hover {
  color: #d1b38e;
}
.desktop_navigation .menu-nav_link {
  margin: 1.5lvw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: PerfectoCalligraphy;
  src: url("../fonts/PerfectoCalligraphy.ttf");
}/*# sourceMappingURL=index.css.map */